[Unit]
Description=Daily rclone sync of Garage bucket to encrypted Dropbox
After=network-online.target garage.service
Wants=network-online.target
Requires=garage.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/rclone --config {{ rclone_config_path }} sync \
  garage-s3:{{ garage_bucket }} \
  {{ backup_dest_path }} \
  --backup-dir {{ backup_trash_path_template }}/$(date +%%F) \
  --transfers 8 \
  --fast-list \
  --log-file /var/log/rclone-backup.log \
  --log-level INFO'
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
