[Unit]
Description=Weekly garage backup trash cleanup timer

[Timer]
OnCalendar=Sun *-*-* 04:00:00
Persistent=true
RandomizedDelaySec=1h
Unit=garage-trash-cleanup.service

[Install]
WantedBy=timers.target
