[garage-s3]
type = s3
provider = Other
endpoint = http://127.0.0.1:3900
region = garage
access_key_id = {{ garage_local_access_key }}
secret_access_key = {{ garage_local_secret_key }}
acl = private

[{{ backup_r2_remote }}]
type = s3
provider = Cloudflare
endpoint = https://{{ vault_r2_account_id }}.r2.cloudflarestorage.com
region = auto
access_key_id = {{ vault_r2_access_key_id }}
secret_access_key = {{ vault_r2_secret_access_key }}
acl = private
no_check_bucket = true

[{{ backup_crypt_remote }}]
type = crypt
remote = {{ backup_r2_remote }}:{{ r2_bucket }}
filename_encryption = standard
directory_name_encryption = true
password = {{ rclone_crypt_password_obscured.stdout }}
password2 = {{ rclone_crypt_salt_obscured.stdout }}
