apiVersion: apps/v1
kind: Deployment
metadata:
  name: ps2bot-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ps2bot
  template:
    metadata:
      labels:
        app: ps2bot
    spec:
      imagePullSecrets:
      - name: ghcr-registry-secret-ps2bot
      containers:
      - name: ps2bot
        image: ghcr.io/seigo2016/ps2bot:latest@sha256:9b0c08a9c05149f1fe954ae65f2aa570ebbade58d4c5deffad20a0ff790fdb2a # {"$imagepolicy": "flux-system:ps2bot"}
        env:
        - name: token
          valueFrom:
            secretKeyRef:
              name: ps2bot-secrets
              key: discord-token
