apiVersion: apps/v1
kind: Deployment
metadata:
  name: ps2bot-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ps2bot
  template:
    metadata:
      labels:
        app: ps2bot
    spec:
      imagePullSecrets:
      - name: ghcr-registry-secret-ps2bot
      containers:
      - name: ps2bot
        image: ghcr.io/seigo2016/ps2bot:latest@sha256:2d43eb962567b0aafd59c84823be8a70215e0100c8d52a8e505529993e6c0ad6 # {"$imagepolicy": "flux-system:ps2bot"}
        env:
        - name: token
          valueFrom:
            secretKeyRef:
              name: ps2bot-secrets
              key: discord-token
